/* styles.css */

/* Estilo general y reset de márgenes y padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}

header {
    margin: 0;
    background-color: #4d0202;
    color: white;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* BARRA */
header nav ul {
    background-color: rgba(159, 56, 56, 0.544);
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
    transition: background-color 0.3s, border-radius 0.3s, box-shadow 0.3s, padding 0.5s;
}

header nav ul li a {
    display: inline;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

header nav ul li:hover {
    background-color: #75757536;
    border-radius: 5px;
    box-shadow: 10px 0 20px rgba(50, 50, 50, 0.4);
    padding: 2px 15px;
    transition-duration: 0.7s;
}

main {
    text-align: center;
}

footer {
    background-color: #4600006b;
    color: white;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    padding: 10px 0;
    z-index: 1; 
  }

.imgMain {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(4px);
    transition: filter 3s ease;
    transform: scale(1.2);
}

.imgMain:hover {
    filter: blur(2px);
}

/* enlace activo */
header nav ul li.active a {
    color: rgb(0, 0, 0);
    font-weight: 900;
}

header nav ul li.active a:hover {
    font-weight: 900;
}


/* TABLAS  */
.semana-select {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pedido-table {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center;
  }
  
  .pedido-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pedido-table th, .pedido-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .pedido-table select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }